@font-face {
  font-family: 'Alba';
  src: url('../src/fonts/ALBA.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'AlbaS';
  src: url('../src/fonts/ALBAS.ttf');
  font-weight: normal;
}

:root {
  --primary-color: #9ad3bc; /* Soft green */
  --accent-color: #f3d1bf;  /* Warm peach */
  --background-color: #f7f5e6; /* Light cream */
  --text-color: #5a5a5a;    /* Soft dark grey */
  --font-heading: 'Alba', cursive; 
  --font-body: 'AlbaS', sans-serif; 
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-body);
}

#app {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    height: 100vh;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

a {
    color: var(--primary-color);
    text-decoration: none; /* Remove underlines from links */
}
  /* Main Content Styles */
  #main-content {
    display: flex;
  }
