@font-face {
    font-family: 'MyFont';
    src: url('../src/fonts/ALBA.ttf');
    font-weight: normal;
  }

  @font-face {
    font-family: 'MyFont2';
    src: url('../src/fonts/ALBAS.ttf');
    font-weight: normal;
  }

:root {
    --primary-color: #d60000; 
    --accent-color: #f9d648; 
    --background-color: #fffbe7; 
    --text-color: #333; 
    --font-heading: 'MyFont'; 
    --font-body: 'MyFont2'; 
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-body);
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    height: 100vh; /* Full viewport height */
}

/* Additional global styles for retro feel */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

a {
    color: var(--primary-color);
    text-decoration: none; /* Remove underlines from links */
}

/* Add textures or borders as needed for retro effect */
.menu-board {
    border: 5px double var(--primary-color); /* Example of a retro-styled border */
    padding: 1rem;
    margin: 1rem 0;
}

/* Sample button that fits the diner theme */
.button-retro {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-retro:hover {
    background-color: darken(var(--primary-color), 10%);
}


