@font-face {
  font-family: 'MyFont';
  src: url('../src/fonts/ALBA.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'MyFont2';
  src: url('../src/fonts/ALBAS.ttf');
  font-weight: normal;
}

:root {
  --primary-color: #9ad3bc; /* Soft green */
  --accent-color: #f3d1bf;  /* Warm peach */
  --background-color: #f7f5e6; /* Light cream */
  --text-color: #5a5a5a;    /* Soft dark grey */
  --font-heading: 'MyFont', cursive; 
  --font-body: 'MyFont2', sans-serif; 
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-body);
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    height: 100vh; /* Full viewport height */
}

/* Additional global styles for retro feel */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

a {
    color: var(--primary-color);
    text-decoration: none; /* Remove underlines from links */
}
  /* Main Content Styles */
  #main-content {
    padding: 20px;
    margin-top: 20px;
    width: 90%;
    max-width: 800px; /* Adjust based on your design preference */
    text-align: center; /* Center the content text */
    border: 1px solid #ccc; /* Light border around the content */
    border-radius: 8px;
    background-color: #f9f9f9; /* Light background for content */
  }
